<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>426986041043-k8bmi3g73mg2kuq21nhgr4png2ats2j6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.426986041043-k8bmi3g73mg2kuq21nhgr4png2ats2j6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>426986041043-0n75ilhd46k8kbh0quqhn39fbgh9k61b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCsyjsja2NO9Gfl01er044mECHiIAxc_6I</string>
	<key>GCM_SENDER_ID</key>
	<string>426986041043</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.routinelyApp</string>
	<key>PROJECT_ID</key>
	<string>routinely-11d1c</string>
	<key>STORAGE_BUCKET</key>
	<string>routinely-11d1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:426986041043:ios:bd359efc51699687bf2e26</string>
</dict>
</plist>